@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Dancing+Script:wght@700&family=Oswald:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-zinc-950 text-white antialiased;
}

/* Fix for the glitched text at the top */
#root {
  @apply w-full min-h-screen flex flex-col;
}